<section ngClass="header">
    <h1>Seguiment incidències / sol·licituds informàtiques</h1>
    <section ngClass="button-area">
        <button mat-raised-button color="primary" [routerLink]="['/registro']">Registro</button>
        <button mat-raised-button color="primary" [routerLink]="['/seguimiento']">Seguimiento</button>
    </section>
</section>
<section ngClass="filter-area">
    <mat-form-field>
        <mat-label>Filter by status</mat-label>
        <mat-select multiple (selectionChange)="selectFilter($event)">
            <mat-option value="progress">{{'progress' | statusName}}</mat-option>
            <mat-option value="pending">{{'pending' | statusName}}</mat-option>
            <mat-option value="pendingUser">{{'pendingUser' | statusName}}</mat-option>
            <mat-option value="closed">{{'closed' | statusName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Filter by request</mat-label>
        <input matInput (keyup)="freeFilter($event)" placeholder="Ex. my free text" />
    </mat-form-field>
</section>

<section ngClass="mat-elevation-z8">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-table *ngIf="dataSource && !loading" [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <mat-header-cell *matHeaderCellDef mat-sort-header [ngSwitch]="col.key">
                <span *ngSwitchDefault><strong>{{col.label}}</strong></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <section [ngSwitch]="col.type">
                    <a *ngSwitchCase="'url'" [routerLink]="['/seguimiento/', element.id]" title="Detalles"
                        ngClass="link-data">{{element[col.key]}}
                    </a>
                    <span *ngSwitchCase="'type'" ngClass="{{element[col.key]}}">{{element[col.key]}}</span>
                    <span *ngSwitchCase="'date'" ngClass="date">{{element[col.key]
                        | date : "dd-MM-YYYY HH:mm:ss"}}</span>
                    <span *ngSwitchCase="'description'" ngClass="description-data">{{element[col.key]}}</span>
                    <span *ngSwitchCase="'status'" ngClass="{{element[col.key]}}">{{element[col.key] |
                        statusName}}</span>
                    <span *ngSwitchDefault ngClass="data">{{element[col.key]}}</span>
                </section>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]='[50, 100, 200, 400]' showFirstLastButtons></mat-paginator>
</section>